/* Minimal reset */
:root {
  --primary: #242423;
  --secondary: #333533;
  --light-white: #e8eddf;
  --dark-white: #cfdbd5;
  --yellow: #f5cb5c;
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', Courier, monospace;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark-white);
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* Calculator */

#calculator {
  background-color: var(--primary);
  border: 10px solid var(--secondary);
  border-radius: 24px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  padding: 1.8rem;
  width: 40rem;
}

/* Screens */
#display {
  background-color: var(--light-white);
  padding: 10px;
  height: 9rem;
  font-family: 'Orbitron';
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2.4rem;
}
.main-screen {
  font-size: 36px;
}
.sub-screen {
  min-height: 20%;
  font-size: 18px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;
  width: 100%;
  gap: 15px;
}

#deleteBtn {
  font-weight: bold;
}

.buttons > button,
.function-btn {
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 24px;
}

.function {
  grid-column: 1 / span 4;
  display: flex;
  gap: 10px;
}

.function-btn {
  background-color: var(--function);
  padding: 0px 10px;
  font-family: inherit;
}

.function-btn:hover,
.dot-btn:hover,
.digit-btn:hover,
.dark-btn:hover {
  background-color: var(--yellow);
  color: var(--primary);
  border-color: var(--secondary);
}

.digit-btn,
.dot-btn {
  background-color: var(--primary);
}

.dark-btn {
  background-color: var(--secondary);
}
