html {
  color: black;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.hero-img {
  width: 150px;
  /* 水平翻轉 */
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
  font-size: 100px;
}
