* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.app {
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1482329833197-916d32bdae74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1993&q=80');
  background-position: center;
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  justify-content: center;
}

/* Ghost element to build a dark overlay */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.app * {
  z-index: 10;
}

.app__title {
  font-size: 4.8rem;
  margin: -20rem 0 4rem;
}

.year {
  font-size: 18rem;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}

.countdown {
  display: none;
  gap: 1.2rem;
  transform: scale(2.3);
  grid-template-columns: repeat(4, 1fr);
}

.time {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .app__title {
    font-size: 45px;
  }
}

/* Spinner and loading animation */
.spinner {
  width: 60px;
  --b: 12px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, rgb(189, 184, 184)) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spin 1s infinite steps(10);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
